.create-fields {
    margin-top: 1em;
    @include flexCenter;
    button {
        margin: 0 .5em;
    }
}

.fields-part-container {
    margin: 1em auto;
    @include flexColumn;
}

.fields-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.field-container {
    padding: 1em;
    @include flexColumn;
}

.field {
    @include flexColumn;
    margin-bottom: 1em;
    border-radius: .5em;
    border: solid $green-field;
    .part {
        width: 12em;
        height: 10em;
        display: flex;
        justify-content: space-around;
        &:first-child {
            border-bottom: solid $green-field;
        }
    }
    .player-container {
        margin: 1.6em 0;
        min-width: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:nth-child(2) {
            margin-top: 5em;
        }
    }
}