button {
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: solid .1em;
    border-radius: .5em;
    padding: .1em 1em .2em;
    font-size: 1em;
    @include flexCenter;
    transition: transform 150ms ease-in-out;
    &:hover {
        @include btn-shadow;
        transform: translate(-.1em,-.1em);
    }
    &:active {
        box-shadow: none;
        transform: translate(0);
    }
}

button.icon {
    border-radius: 0;
    border: none;
    padding: 0;
    &:hover {
        box-shadow: none;
        transform: translate(0);
    }
}

.back {
    z-index: 99;
    position: absolute;
    top: .5em;
    left: .5em;
    &::before {
        @include icon('\f3e5',2em);
        @include tablette-version {
            font-size: 6vw;
        }
    }
    &.hide {
        display: none;
    }
}

.reset {
    position:absolute;
    top: 1em;
    right: 1em;
    font-size: 1em;
}

.color-button {
    background-color: #fff;
    border: none;
    color: black;
    &:hover {
        box-shadow: none;
    }
}

.enter-btn {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.arrow-up {
    @include flexCenter;
    position: fixed;
    bottom: 1em;
    right: 2vw;
    @include mobile-version {
        bottom: 1em;
        right: 1em;
    }
    width: 2em;
    height: 2em;
    padding: .2em;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    &::before {
        @include icon('\f077');
    }
}

.btn-add {
    &::before {
        @include icon('\f055');
    }
}

.reset-players {
    position: absolute;
    right: -.2em;
    top: -.2em;
    border-radius: 50%;
    &::before {
        @include icon('\f057');
    }
}